*.zip
*.bak
*.user
*.obj
*.ncb
*.suo
*.aps
*.log
*.err
*.lib
*.sys
*.ilk
*.dat
*.sys
*.v2
obj
bin
Release
Debug
TestEnv
/CustomGridControl/.vs/CustomGridControl/DesignTimeBuild/*.v2
/SharedMemoryViewer/.vs/SharedMemoryViewer/DesignTimeBuild/*.v2
